html{
    background-color: beige;
   
    
  
}
.background {
    border: 5px;
    border-radius: 30px;
    border-style: solid;
    margin-top: 50%;
    padding: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: column;
    display: flex;
    box-shadow: 20 yellow;


}
