html{
    background-color: beige;
   
    
  
}
.background {
    border: 5px;
    border-radius: 30px;
    border-style: solid;
    margin-top: 50%;
    padding: 10px;
    flex-direction: column;
    display: flex;
}
